<p id="notice"><%= notice %></p>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<div class="btn-group">

<h1>Listing Action Plans</h1>

<table class= "table table-striped">
  <thead>
    <tr>
      <th><center>Unit<center></th><space>
      <th><center>Date Of Site Visit</center></th>
      <!--<th>Submission or update</th>-->
      <!--<th>Submission or update date</th>-->
      <th><center>Name</center></th>
      <th><center>Title</center></th>
      <th><center>Action</center></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if session[:cas_user].to_s != "" %>
    <% @action_plans.each do |action_plan| %>
      <tr>
        <% if action_plan.unit_id != nil %>
          <td><center><%= Unit.find(action_plan.unit_id).unit %></center></td><space>
          <td><center><%= action_plan.date_of_site_visit %></center></td>
          <!--<td><%# action_plan.submission_or_update %></td>-->
          <!--<td><%# action_plan.submission_or_update_date %></td>-->
          <td><center><%= action_plan.submitter_first_name %>, <%= action_plan.submitter_last_name %></center></td>
          <td><center><%= action_plan.submitter_title %></center></td>
          <td><center><%= link_to 'Show', action_plan ,class: "btn" %>
          <%= link_to 'Edit', edit_action_plan_path(action_plan), class: "btn", style: 'color: purple;' %>
          <%= link_to 'Destroy', action_plan, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn", style: 'color: red;' %></center></td>
        <% end %> 
      </tr>
    <% end %>
    <% end %>
 </tbody>
</table>  
<br>
<%= link_to "Create New APR Report", new_action_plan_path, class: "btn btn-primary" %>
</div> 

      
    
  
